* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding: 25px 40px 0px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
    width: 100%;
    position: sticky;
    top: -1px;
    left: 0px;
    background-color: #fff;
    z-index: 2;
}

#navbar div {
    float: left;
}

#social-media-icons {
    width: 20%;
    margin-top: 20px;
}

#social-media-icons i {
    margin: 0px 5px;
    color: rgb(97, 107, 120);
}

#logo-nav-links a {
    color: rgb(97, 107, 120);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
}

#logo-nav-links ul {
    list-style-type: none;
}

ul li {
    float: left;
    margin-top: 22px;
}

#logo {
    margin-top: 0px !important;
}

#logo-img {
    position: relative;
    top: 12px;
}

#logo a {
    background-color: rgb(20, 35, 53);
    color: #fff;
    padding: 32px 22px !important;
}

#contact-information {
    width: 15%;
    margin-top: 10px;
}

#contact-information p {
    color: rgb(69, 133, 213);
    border: 1px solid rgb(249, 209, 13);
    padding: 10px;
    text-align: center;
}

header {
    background-image: url('./breadcrumb-3.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 6rem 10rem;
    position: relative;
}

header h2 {
    color: #fff;
    text-align: center;

}

header p {
    color: #fff;
    text-align: center;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 287px;
    margin-left: -277px;
    margin-top: -211px;
}


.product {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    /* or display: flex; */
    vertical-align: top;
    /* Add this to align items properly */
}

.product img {
    max-width: 100%;
}

.product h3 {
    margin: 10px 0;
    font-size: 12px;
}

.product p {
    color: #888;
}

.product button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #0056b3;
}


.search-bar {
    display: flex;
    align-items: center;
    margin-right: -44px;
    margin-left: 922px;
    margin-top: -1348px;
}

.search-bar input {
    padding: 8px 30px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 3px;
    text-align: left;

}

.search-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-bar .fas.fa-search {
    font-size: 18px;
    color: #333;
}

.heading-line {
    display: flex;
    /* Make the container a flexbox */
    align-items: center;
    font-size: 11px;
    margin-top: 30px;
    margin-left: 928px;
}

/* Align heading and line vertically */


h1 {
    margin-right: 1rem;
    /* Add space between heading and line */
}

hr {
    border: 0;
    /* Remove default border styling */
    border-top: 1px solid black;
    /* Set the desired line style */
    width: 50%;
    /* Extend the line to full width */
}

.appliance-list {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    margin-left: 905px;
    height: 26px;
    font-size: 16px;
    flex-direction: inherit;
    margin-top: 27px
}

.appliance-item {
    /* Add a border */
    padding: 1rem;
    /* Add some padding */
    margin: 0.5rem;
    /* Add some margin for separation */
    text-align: left;
    /* Center the appliance description and price */
}

.appliance-item p {
    margin: 0.5rem 0;
    font-size: 11px;
    /* Add some space between descriptions and prices */
}
.appliance-item img{
    align-items: left;
}
